@namespace mx "library://ns.adobe.com/flex/mx";
CustomButton {
	automatic-selected-skin: ClassReference("CustomButtonSkin"); 
	up-skin:ClassReference("CustomButtonSkin"); 
	over-skin:ClassReference("CustomButtonSkin");
	down-skin:ClassReference("CustomButtonSkin");
	selected-disabled-skin: ClassReference("CustomButtonSkin");
	selected-over-skin:ClassReference("CustomButtonSkin");
	selected-up-skin: ClassReference("CustomButtonSkin");
        
	outBorderColors: #FFFFFF,#FFFFFF;
	inBorderColors: #FFFFFF,#FFFFFF;
    
	cornerRadius: 6;

	disabledFillAlphas:  1,1,1,1;
	disabledFillColors: #C0C0C0,#C0C0C0,#C0C0C0,#C0C0C0;
	disabledFillRatios: 0,92,92,255;
	
	upFillAlphas: 1,1,1,1;
	upFillColors: #00FF00,#00FF00,#00FF00,#00FF00;
	upFillRatios: 0,92,92,255;
    
	overFillAlphas: 1,1,1,1;
	overFillColors: #ffffff,#fff6ad,#ffed58,#ffcb1a;
	overFillRatios: 0,92,92,255;
    
	downFillAlphas: 1,1,1,1;
	downFillColors: #FFFF00,#FFFF00,#FFFF00,#FFFF00;
	downFillRatios: 0,106,106,255;
    
	fontSize: 16;    
	color: #000000;
}
